.work-sans-normal {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    .raleway-normal {
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }


    .inter-normal {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }


    /* shared style */
    .text-primary {
        color: #4E47FF;
    }

    .primary-color {
        color: #252432;
    }

    .btn-primary {
        background-color: #4E47FF;
        font-weight: bold;
        font-size: 16px;
        color: #FFFFFF;
        border: none;
        padding: 12px 38px;
        border-radius: 10px;
    }

    /* header */
    .header {
        width: 1440px;
        height: 755px;
        padding-bottom: 200px;
        background-image: url(../Assets/Hero-bg.png);
    }

    /* Nav styles */
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 1140px;
        height: 151px;
        margin: 0 auto;
        padding: 0px 50px;
    }

    .nav-title {
        font-weight: black;
        font-size: 34px;
    }

    /* banner styles */
    .banner {
        width: 905px;
        height: 237px;
        margin: 0 auto;
        margin-top: 158px;
        text-align: center;
    }

    .banner h2 {
        font-size: 85px;
        font-weight: bold;
        color: #252432;
        text-align: center;
        margin-bottom: 37px;
        margin-top: 0;
    }

    .banner .btn-primary {
        display: inline-block;
    }

    /* main styles */
    main {
        width: 1140px;
        height: 328px;
        margin-top: 49px;
        margin-left: 141px;
        margin-right: 159px;

    }

    /* action styles */
    .action-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .left-side {
        width: 517px;
    }

    .right-side {
        width: 403px;
    }

    .right-side img {
        max-width: 100%;
        border-radius: 48px;
    }

    .section-title {
        font-weight: bold;
        font-size: 42px;

    }

    .section-sub-title {
        font-weight: regular;
        font-size: 24px;

    }

    /* user section styles */
    .productive-user-container {
        border-radius: 24px;
        padding: 40px 80px;
        text-align: center;
        background-color: rgba(78, 71, 255, 0.1);
        margin-top: 110px;
    }

    .productive-user-title {
        font-weight: bold;
        font-size: 38px;
        margin-bottom: 40px;
        max-width: 856px;
        margin-left: auto;
        margin-right: auto;

    }

    .users-items {
        display: flex;
        justify-content: space-around;
        align-items: center;

    }

    .user-item {
        text-align: center;
    }

    .user-number {
        font-weight: bold;
        font-size: 80px;
        margin-bottom: 0px;
        margin-top: 0px;

    }

    .user-description {
        font-weight: regular;
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    /* touch section styles */
    .touch-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1140px;
        margin: 0 auto;
        padding: 71px;
    }

    .left-section {
        width: 45%;
        font-size: 97px;
        font-weight: bold;
        margin: 0;
    }

    .right-section {
        width: 45%;
        background-color: #FFFFFF;
    }

    .form-group {
        display: block;
        margin-bottom: 19px;
    }

    .form-group label {
        font-size: 18px;
        font-weight: medium;
    }

    .form-group input,
    .form-group textarea {
        font-size: 20px;
        font-weight: 400px;
    }

    .form-group label,
    .form-group input,
    .form-group textarea {
        display: block;
        width: 100%;
    }

    .touch-form input,
    .touch-form textarea {
        display: block;
        padding: 20px 32px;
        border-radius: 10px;
        width: 100%;
        background-color: #FFFFFF;
        border: 1px solid #000000;
    }

    .right-section .btn-primary {
        display: block;
        width: 100%;
        padding: 20px 0px;
        border-radius: 10px;

    }

    .touch-form label {
        display: block;
        margin-bottom: 5px;
    }